.container {
  display: flex;
  width: 100%;
  background: var(--gray-500);
  border: 1px solid var(--gray-400);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 1rem;
  justify-content: space-between;
}

input[type='checkbox'] {
  display: none;
}

.checkboxUncheck {
  width: 1rem;
  height: 1rem;
  background: transparent;
  border: 1px solid var(--blue-500);
  border-radius: 999px;
  cursor: pointer;

  transition: border 0.2s;
}

.checkboxUncheck:hover {
  border: 1px solid var(--blue-600);
}

.checkboxCheck {
  width: 1rem;
  height: 1rem;
  background: var(--purple-600);
  border: 1px solid var(--purple-600);
  border-radius: 999px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  transition: background-color 0.2s;
}

.checkboxCheck:hover {
  background-color: var(--purple-500);
}

.title {
  flex: 1;
  margin: 0 0.75rem;
  color: var(--gray-100);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 140%;
  cursor: pointer;
}

.titleDone {
  flex: 1;
  margin: 0 0.75rem;
  color: var(--gray-300);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 140%;
  text-decoration: line-through;
  cursor: pointer;
}